.space {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff3dd;
}

a {
  text-decoration: none;
  color:  #0059a7;
  font-family: 'Roboto', sans-serif;
}
