html, body {
    overflow: hidden;
    margin: 0px;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100vw - 100px);
    height: calc(100vh - 100px);
    margin: 50px 50px 50px 50px;
    background-color: #fff3dd;
}

a {
  text-decoration: none;
  color:  #0059a7;
  font-family: 'Roboto', sans-serif;
}

.footer, #footer{
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 50px;
  align-items: center;
  z-index: 1;
}

.author {
  float: right;
  position: absolute;
  right: 50px;
}

.source{
  float:right;
  position: absolute;
  left: 50px;
}
