html, body {
    overflow: hidden;
    margin: 0px;
}

.space {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100vw - 100px);
    height: calc(100vh - 100px);
    margin: 50px 50px 50px 50px;
    background-color: #fff3dd;
}

a {
  text-decoration: none;
  color:  #0059a7;
  font-family: 'Roboto', sans-serif;
}
